<h1>Signup</h1>
<form action="/signup" method="post">

<label> Email
<input type="email" name="email" placeholder="Enter your email">
</label>

<label> Fullname
<input type="text" name="fullname" placeholder="Enter your Fullname">
</label>

<label> Password
<input type="password" name="password" placeholder="#######">
</label>


<button type="submit">Create your account here</button>


</form>